@charset "utf-8";
/* CSS Document */
body,div,ul,li,a {
	padding: 0px;
	margin: 0px;
	text-decoration: none;
	color: inherit;
}
html, body{
	background-color: #CCC;
	background-image: url(../images/bubble_background.jpg);
	background-size: cover;
	height: 100%;
	min-width: 920px;
}
#header {
	padding: 10px;
	background: none no-repeat scroll 0% 0% rgba(27, 70, 117, 0.90);
	position: relative;
}
#icon {
	background-position: center;
	background-image: url(../images/favicon.png);
	background-size: contain;
	background-repeat:no-repeat;
	width: 100px;
}
#logo {
	position: absolute;
	width: calc(100% - 10px);
	bottom: 10px;
	background-image: url(../images/logo.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
#centerblock {
    width: 80%;
    margin: 0px auto;
    background-color: rgba(127, 127, 127, 0.8);
    position: relative;
	min-height: 200px;
}
#footer {
	height: 50px;
}
.success {
	color: #093;
}
.failure {
	color: #EC2F2F;
}

.space1 {
	height: 20px;
}